# .gitignore
# Файл, что запрещает экспортировать определенные части кода


# Игнорирование локального окружения и пользовательских конфигураций IDE
.*
*.iml


# Игнорирование временных файлов операционной системы
Thumbs.db


# Игнорирование директории сборки
build/
dist/


# Игнорирование всех скачанных данных логирования
BotFiles/


# Игнорирование файлов логов
BotLogs/
*.log


# Игнорирование установщика проекта
Test/project_clone.bat


# Игнорирование базы данных пользователя
MySQL/user_data.db
MySQL/user_data.json
